.login-container {
            width: 380px;
            background: rgb(243, 232, 232);
            padding: 40px;
            border-radius: 25px;
            box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: linear-gradient(to right, #e6e3de, #f8f7f2);
            display: flex;
            justify-content: center;

        }
.usuario {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: none;
            border-bottom: 2px solid #ccc;
            background: transparent;
            outline: none;
        }
.contraseña {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: none;
            border-bottom: 2px solid #ccc;
            background: transparent;
            outline: none;
}
.boton {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border-bottom: 2px solid #d48319;
            background: rgb(224, 147, 3);
            outline: none;
}

      